<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
xmlns="http://java.sun.com/xml/ns/javaee" 
xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" 
id="WebApp_ID" 
version="3.0"
 metadata-complete="true">
  <display-name>Participation Tracker</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>login.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  
 <servlet>
    <servlet-name>Register</servlet-name>
    <servlet-class>controller.RegisterController</servlet-class>
</servlet> 

<servlet>
    <servlet-name>Login</servlet-name>
    <servlet-class>controller.LoginController</servlet-class>
</servlet>

<servlet>
    <servlet-name>Listcourse</servlet-name>
    <servlet-class>controller.ListCourseController</servlet-class>
</servlet>

<servlet>
    <servlet-name>Viewcourse</servlet-name>
    <servlet-class>controller.ViewCourseController</servlet-class>
</servlet>

<servlet>
    <servlet-name>Addcourse</servlet-name>
    <servlet-class>controller.AddCourseController</servlet-class>
</servlet>

<servlet>
    <servlet-name>Addsession</servlet-name>
    <servlet-class>controller.AddSessionController</servlet-class>
</servlet>

<servlet-mapping>
    <servlet-name>Register</servlet-name>
    <url-pattern>/Register</url-pattern>
</servlet-mapping>
<servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
</servlet-mapping>

<servlet-mapping>
    <servlet-name>Listcourse</servlet-name>
    <url-pattern>/Listcourse</url-pattern>
</servlet-mapping>

<servlet-mapping>
    <servlet-name>Viewcourse</servlet-name>
    <url-pattern>/Viewcourse</url-pattern>
</servlet-mapping>

<servlet-mapping>
    <servlet-name>Addcourse</servlet-name>
    <url-pattern>/Addcourse</url-pattern>
</servlet-mapping>

<servlet-mapping>
    <servlet-name>Addsession</servlet-name>
    <url-pattern>/Addsession</url-pattern>
</servlet-mapping>

  <filter>
    <filter-name>SessionCheckFilter</filter-name>
    <filter-class>utils.SessionCheckFilter</filter-class>
</filter>
<filter-mapping>
    <filter-name>SessionCheckFilter</filter-name>
    <url-pattern>/Listcourse</url-pattern>
    <url-pattern>/Addcourse</url-pattern>
    <url-pattern>/Viewcourse</url-pattern>
    <url-pattern>/Addsession</url-pattern>
</filter-mapping>

</web-app>